<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univalle.appmuseo">
    <!--Permiso requerido para el uso de la CAMARA. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--Asegura que la aplicación es única
    visible en Google Play Store en dispositivos compatibles con ARCore. -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <!--Permiso requerido para el uso de INTERNET. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Permiso requerido para el uso de la ALMACENAMIENTO -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AugmentedOcarinasActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartingQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--Indica que la aplicación requiere ARCore. -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.univalle.appmuseo.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".AugmentedPlatosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>